---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base00: #F4F6F7;
$base01: #F4F6F7;
$base02: #c2842b;
$background-color: #F4F6F7;

$link-color: #6a7f36;

$sans-serif : 'Gill Sans', 'Gill Sans MT', sans-serif;

article .begin-examples ~ h2,
article .begin-examples ~ h2 + p {
    width: 100%;
    clear: both;
}


article .begin-examples ~ h3,
article .begin-examples ~ p,
article .begin-examples ~ .highlight {
    width: 50%;
}

article .begin-examples ~ h3,
article .begin-examples ~ p {
    float: left;
    box-sizing: border-box;
    padding-right: 1rem;
    clear: both;
}


article .begin-examples ~ .highlight {
    float: right;
    clear: right;
    margin-bottom: 1rem;
}


.end-examples {
    clear: both;
}

article .end-examples ~ p,
article .end-examples ~ h3,
article .end-examples ~ .highlight {
    width: auto;
    float: none;
    clear: none;
}


@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



