---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base02: #c2842b;

$link-color: #6a7f36;

$sans-serif : 'Gill Sans', 'Gill Sans MT', sans-serif;

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



