---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$sans-serif: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

$base00: #F4F6F7;
$base08: #6a7f36;
$base02: #c2842b;
$link-color: blue;

